 
 <% if flash[:notice]%>
 <div class="alert alert-success alert-dismissible fade show" role="alert"> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <div class ="header">
    <%= flash[:notice] %>
  </div>
 </div>

<% end %>

<% if flash[:alert]%>
<div class="alert alert-danger alert-dismissible fade show" role="alert"> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <div class ="header">
    <%= flash[:alert] %>
  </div>
 </div>
<% end %>
