<div class="splash-screen">
    <h1 class="app-logo">Budget App</h1>
    <div class= 'splash-btn'>
        <p class='login-btn'><%= link_to "Log in", new_user_session_path, class: 'login-btn'%></p>
        <p class='signup-btn'><%= link_to "Sign up", new_user_registration_path, class: 'signup-btn' %></p>
    </div>
</div>
