/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 :root {
  --primrycolor: #3778c2;
  --scndrycolor: #5fb523;
  --fontcolor: #434b54;
  --appfont: "Roboto", sans-serif;
}
a {
  color: var(--fontcolor);
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.nav-profile,
.nav-fullname {
  justify-self: center;
  align-self: center;
}
.nav-fullname-text {
  color: #fff;
  font-family: var(--appfont);
  font-size: 1.2rem;
  padding-top: 5px;
}
.category-image {
  width: 60px;
  height: 60px;
}
.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-logo {
  font-family: var(--appfont);
  position: absolute;
  font-weight: 700;
  top: 40%;
  font-size: 3rem;
  color: var(--fontcolor);
}
.splash-btn {
  position: absolute;
  bottom: 0%;
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 0 15px;
}
.login-btn {
  background-color: var(--primrycolor);
  color: #fff;
  height: 50px;
  font-size: 1.2rem;
  padding-top: 10px;
  font-weight: 300;
}
.signup-btn {
  color: var(--fontcolor);
  height: 50px;
  font-size: 1.2rem;
  padding-top: 10px;
  font-weight: 300;
}
.login-header {
  background-color: var(--primrycolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 5px 3px;
  margin-bottom: 20px;
}

.arrow-back {
  width: 40px;
  filter: invert(100%) sepia(79%) saturate(100%) hue-rotate(86deg)
    brightness(100%) contrast(119%);
}
.login-top-btn {
  background-color: var(--primrycolor);
  border: none;
  color: #fff;
  font-size: 1rem;
}

.forgot-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fontcolor);
}
.navbar,
.offcanvas-body,
.offcanvas {
  background-color: var(--primrycolor);
}
.humberger,
.closes {
  filter: invert(100%) sepia(79%) saturate(100%) hue-rotate(86deg)
    brightness(100%) contrast(119%);
  width: 30px;
}
.closebtn {
  border: none;
  background-color: var(--primrycolor);
}
.offcanvas-title {
  color: #fff;
}
.nav-links {
  border: none;
  background-color: var(--primrycolor);
  color: #fff;
  text-align: center;
  padding: 5px 0;
}
.offconvase {
  position: absolute;
  top: 1%;
  left: 30%;
  color: #fff;
  font-family: var(--appfont);
  font-size: 1.5rem;
  font-weight: 500;
}
.category-card {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: #a8b4c253;
  font-family: var(--appfont);
  color: var(--fontcolor);
}
.category-container {
  background-color: var(--scndrycolor);
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  padding: 8px;
}
.add-category-btn {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 5px;
  width: 100%;
  height: 45px;
  border: solid 1px #fff;
}
.transaction-header {
  background-color: #a8b4c253;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: var(--appfont);
  font-weight: 500;
}
.bold {
  font-weight: 900;
}
.transaction-card {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #a8b4c253;
}
.transaction-btn {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 5px;
}